slurm-output/
paper/paper.abs
paper/paper.aux
paper/paper.bbl
paper/paper.blg
paper/paper.log
paper/paper.out
paper/paper.pdf
paper/paper.xmpdata
paper/pdfa.xmpi
triples-ms-marco-tiny.jsonl.gz
triples-ms-marco-tiny.jsonl/
triples-train.jsonl
cross-encoder-bert-tiny-*
cross-encoders_old/
fine-tuned/
.ipynb_checkpoints
bm25/
triples*
msmarco-passage-trec-dl-2019-judged-20230107-training-rerank.jsonl.gz
